<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Beijing More | Every street has a story.</title>
    <link rel="icon" href="/static/BeijingMore/logo.png">
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/js/jquery.lazyload.min.js"></script>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="/static/css/KyanCssUtil.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/swiper/swiper-3.2.7.min.css">
    <script src="/static/swiper/swiper-3.2.7.min.js"></script>
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid">






    </div>
</body>
