<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Gallery</title>
    </head>
    <body>
        <h1>Snapshot</h1>
        <ol>
            <li>
                <a href="static/donuts/86.jpg" onmousemove="showPic(this); return false;" title="2.0升 200马力">Toyota 86</a>
            </li>
            <li>
                <a href="static/donuts/118.jpg" onmousemove="showPic(this); return false;" title="1.5升 涡轮增压 136马力">BMW 118i</a>
            </li>
            <li>
                <a href="static/donuts/a3.jpg" onmousemove="showPic(this); return false;" title="1.8升 涡轮增压 180马力">Audi A3</a>
            </li>
            <li>
                <a href="static/donuts/mini.jpg" onmousemove="showPic(this); return false;" title="2.0升 涡轮增压 192马力">Mini Cooper S</a>
            </li>
        </ol>
        <img id="placeholder" src="static/donuts/placeholder.jpg"/>
            <p id="description">Choose a car.</p>
        <script type="text/javascript" src="static/js/showPic.js" alt="my car"></script>
    </body>
</html>
