<!DOCTYPE html>
<html>
    <head>
        <meta charset='urf-8'>
        <link rel='icon' href='http://www.easyicon.net/api/resizeApi.php?id=1165122&size=16'/>
        <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
        <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <title>Welcome | Lei's site</title>
        <style type="text/css">
            body{
                margin: 0;
                font-family: tahoma;
            }
            .footer{
                position: fixed;
                bottom: 0;
                left: 0;
                padding: 10px;
                background: rgba(255,255,255,0.5);
                width: 100%;
                font-size: 11px;
                text-align: center;
            }
            .footer:hover{
                background: rgba(255,255,255,1);

            }
        </style>
    </head>
    <body>
        <div class='container-fluid'>
            <div class="list-group">
                <a class="list-group-item" href='/'>Home</a>
                <a class="list-group-item" href='/fakeapple'>fakeApple</a>
                <a class="list-group-item" href='/fakemicrosoft'>fakeMicrosoft</a>
                <a class="list-group-item" href='/JD'>JD</a>
                <a class="list-group-item" href='/jspractice'>JS练习</a>
                <a class="list-group-item" href='/school'>school</a>
                <a class="list-group-item" href='/donut'>donut</a>
            </div>
            <div class='footer'>
                <div>
                    <i>by Lei</i>
                     - 2015
                </div>
            </div>
        </div>
    </body>
</html>
