<!DOCTYPE html>
<html>
    <head>
        <meta charset='urf-8'>
        <title>Welcome | Lei's site</title>
        <style type="text/css">
            .footer{
                position: fixed;
                bottom: 0;
                left: 0;
                padding: 20px;
                background: #333;
                width: 100%;
                font-size: 21px;
                color: silver;
                text-align: center;
            }
            .container{
                padding-bottom: 100px;
            }
        </style>
    </head>
    <body>
        <div class='container'>
            <a href='/'>Home</a>
            <a href='/fakeapple'>fake apple</a>
            <a href='/fakemicrosoft'>fake microsoft</a>
            <a href='/zhihu'>zhihu</a>
            <div class='footer'>
                <span>
                    <i>by Lei</i>
                     - 2015
                </span>
            </div>
        </div>
    </body>
</html>
