<html>
<head>
    <meta charset='utf-8'>
    <link rel="shortcut icon" href="http://www.easyicon.net/api/resizeApi.php?id=1185565&size=16"/>
    <title>假知乎</title>
    <style type="text/css">
        #header {
            width: 100%;
            height: 35%;
        }
        #sidebar {
            width: 280px;
            float: right;
        }
        #main {
            background: top left;
            float: left;
        }
        body{
            margin: 0;
        }
    </style>
</head>

<body>
    <div>
        <img id= 'header' src='http://pic.58pic.com/58pic/15/63/49/96g58PICMPs_1024.jpg' alt='知乎'>
    </div>

<div id='main'>
    <h2> 为什么移动打车 App 一直在烧钱，投资人还在不断投入？ </h2>
    <h4> 庄明浩（rosicky311），前VC行业小兵一枚 </h4>
    <p> 20150614更新这两天不知道这么了，这个问题被频繁的点赞和评论，很多人让我更新；其实现在这个事情已经算有了阶段性结果，再写东西也是然并卵……而关于这场战役14年以及最后收购，期间发生种种，详细看这篇文章吧：投资人独家透露滴滴快的合并内幕＝＝＝＝… <a href='#'>显示全部</a></p>
    <hr/>

    <h2> 为什么机器人研究了几十年，还是给人感觉没有太大进展？ </h2>
    <h4> Heinrich，02年IROC常规铜牌，04年ROBOCUP足球季军 </h4>
    <p>一、先从定义上来说吧。1、如果从行为层面来说，对于完成独立的某种行动，机器人技术，或者说是控制技术的发展已经有了长足的进步，对于工厂流水线上的机器人来说，处理精度、处理速度都远远超过了人类。前一阵日本发明了一个百分之百赢对手的猜拳机器人（… <a href='#'>显示全部</a></p>
    <hr/>

    <h2> 男生如何学习服装搭配？ </h2>
    <h4>李安，视觉系，男装店铺：http://ohthatman.taobao.com/</h4>
    <p>一切不在适合自己的前提下的搭配都是耍流氓。如果没有方向，再怎么看图片翻杂志都是没用的，再好看也是别人穿着好看，穿到自己身上也是浪费钱。我也是刚学了人物色彩风格，说得不一定很准确，就当抛砖引玉吧（涉及到个别明星，粉丝们请轻喷）：第一，要知道… <a href='#'>显示全部</a></p>
    <hr/>
</div>

<div id='sidebar'>
    <h2><span>注册</span><span>登录</span></h2>
    <table border='1'>
        <tr>
            <th align="left">姓名</th>
            <th></th>
        </tr>

        <tr>
            <th align="left">手机号或邮箱</th>
        </tr>

        <tr>
            <th align="left">密码（不少于6位）</th>
        </tr>

        <tr>
            <th align="left">验证码</th>
        </tr>
    </table>
</div>


<div id='footer'>
copyright; 2015, Lei
</div>
</body>
</html>

